<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="dependencyVersion" value="Lowest" />
    </config>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
        <!-- 本地 UniverseLib NuGet 包源 -->
        <add key="UniverseLibLocalMono" value="..\UniverseLib_src\Release\UniverseLib.Mono\" />
        <add key="UniverseLibLocalIL2CPP" value="..\UniverseLib_src\Release\UniverseLib.Il2Cpp\" />
    </packageSources>

    <add key="globalPackagesFolder" value="D:\.nuget\packages" />
</configuration>
